/* =============
    Section 2
============= */
#section-2{
    background-color: $gray;
    
   @include xl{
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-areas: ". section-2-container .";
    }

    #section-2-container{
        @include md{
            display: grid;
            grid-template-areas: "section-2-image section-2-content";
            
        }
        @include xl{
            grid-area: section-2-container;
            grid-template-columns: 50% auto;
        }
        @include lg{
            grid-area: section-2-container;
            grid-template-columns: 50% auto;
        }
        
        section{
            margin: 0 10px;
            @include md{
                margin: 30px;
            }

            #section-2-content{
                grid-area: section-2-content;
                padding-bottom: 30px;
                @include md{
                    grid-area: section-2-image;
                }
                h1{
                    padding: 40px 10px 10px;
                    text-align: center;
                    @include md{
                        padding-top: 0px;
                        text-align: left;
                    }
                    @include lg{
                        padding: 110px 10px 10px 60px;
                    
                    }
                    @include xl{
                        padding: 100px 0px 10px 60px;
                    }
                }
                p{
                    text-align: left;
                    line-height: 20px;

                    @include md{
                        margin-left: 10px;
                    }
                    @include lg{
                        margin-left: 60px;
                        margin-right: 60px;
                        text-align: justify;
                        line-height: 25px;
                    }
                    @include xl{
                        margin-right: 90px;
                      
                    }
                   
                }
            }
        }

        aside{
            background-image: url('../img/section-2/shoes.jpg');
            background-size: cover;
            height: 320px;
            
            @include md{
                height: 240px;
                width: 240px;
            }
    
            @include lg{
                height: 600px;
                width: 600px;

            }
    
            @include xl{
                height: 600px;
                width: 600px;
            }
    
        }
    }


   
}
