/* =============
    Section 3
============= */
#section-3{
    text-align: center;
    padding-bottom: 40px;
    h1{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    

    div{
       
        figure {
            display:inline-block;
            padding: 20px;

            @include md{
                padding: 40px
            }
            @include lg{
                padding: 30px
            }

        }
        figcaption {
            text-align: center;
            background-color: $gray;
            margin-top: -4px;
            padding-top: 10px;
            
            p{
                text-align: justify;
                padding-top: 5px;  
                margin-left: 10px;
            }

            div{
                padding-bottom: 20px;
                padding-top: 10px;
            }
            
           
            
        }
    }
    

    
}
